################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/BassoLegnami/FileContentIndex/1c1b89da-87d1-4bdb-b391-f079c86449f0.vsidx
/.vs/BassoLegnami/FileContentIndex/246544ef-6ffa-42cb-85b4-287dd6c526a5.vsidx
/.vs/BassoLegnami/FileContentIndex/79335be8-db30-4fc0-90cd-fe9dc3a651be.vsidx
/.vs/BassoLegnami/FileContentIndex/9bde0bde-0497-47b1-af2a-b21203c710b1.vsidx
/.vs/BassoLegnami/FileContentIndex/ffd6ed0a-59ba-459b-96ef-c5af712bfe3b.vsidx
/.vs/BassoLegnami/FileContentIndex/7ec63212-2f00-41f2-baa9-e930c9de577d.vsidx
/.vs/BassoLegnami/FileContentIndex/a44b966c-989c-45ac-ace7-362bf7c0edc5.vsidx
/.vs/BassoLegnami/FileContentIndex/e02243cb-6b1a-443b-83d0-a37ee47e51a2.vsidx
/.vs/BassoLegnami/FileContentIndex/e4da96be-d98b-425e-b350-d661b358943d.vsidx
/.vs/BassoLegnami/DesignTimeBuild/.dtbcache.v2
/.vs/BassoLegnami/FileContentIndex/77314f3c-8781-4e9c-a2a8-20558f2fda50.vsidx
/.vs/BassoLegnami/FileContentIndex/8f0d0395-099c-47bc-ba9a-b2332fd6381a.vsidx
/.vs/BassoLegnami/FileContentIndex/b584e50c-f69b-4b5d-a6f2-a54e525cbe9e.vsidx
/.vs/BassoLegnami/v17/.suo
*.vsidx
