################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/BassoLegnami/FileContentIndex/1c1b89da-87d1-4bdb-b391-f079c86449f0.vsidx
/.vs/BassoLegnami/FileContentIndex/246544ef-6ffa-42cb-85b4-287dd6c526a5.vsidx
/.vs/BassoLegnami/FileContentIndex/79335be8-db30-4fc0-90cd-fe9dc3a651be.vsidx
/.vs/BassoLegnami/FileContentIndex/9bde0bde-0497-47b1-af2a-b21203c710b1.vsidx
/.vs/BassoLegnami/FileContentIndex/ffd6ed0a-59ba-459b-96ef-c5af712bfe3b.vsidx
