@using Microsoft.AspNetCore.Mvc.Localization
@model BassoLegnami.Models.AccountViewModels.ForgotPasswordViewModel
@inject IViewLocalizer L
@inject IHtmlLocalizer<SharedResource> SR
@{
    Layout = "~/Views/Account/_Account.cshtml";
    ViewData["Title"] = @L["ResetPassword"];
}

<div class="card card-login card-hidden">
    <div class="card-header ">
        <h3 class="header text-center"><i class="fa fa-key"></i>&nbsp;&nbsp;@L["ResetPassword"]</h3>
        <hr />
    </div>
    <div class="card-body ">
        <div class="card-body">
            @L["ResetPasswordMessage"]
        </div>
        <hr />
    </div>
    <div class="card-footer ml-auto mr-auto">
        <a asp-controller="Home" asp-action="Index" class="btn btn-default"><i class="fa fa-home"></i> @SR["GoToHome"]</a>
    </div>
</div>
